<% include partials/header %>
<style>
    .col-lg-6:hover{
        border:1px solid black;
    }
    a:hover{
        color:black;
    }
   
</style>

<h3><%= noMatch %></h3>
<% for(i=0; i<allbooks.length;i++){%>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 thumbnail">
                <div class="col-lg-2">
                    <img src="<%=allbooks[i].img%>">
                </div>
                <div class="col-lg-10">
                    <a style="margin:0;padding:0; color:blue;" href="/books/<%= allbooks[i]._id %>"><%= allbooks[i].name %></a>
                    <p><%=allbooks[i].author%></p>
                    <p><%=allbooks[i].type%>|<%=allbooks[i].published%></p>
                </div>
                 
        </div>    
    </div>    
    
<%}%>
<% include partials/footer %>



