<% include partials/header %>
<style>
    h3{
        display:inline;
    }
    a{
        float:right;
    }
    .moveleft{
        padding-left:20px;
    }
    
</style>

<h3><%= noMatch %></h3>
<% for(i=0; i<allbooks.length;i++){%>
<div class="moveleft">
    
    <h3><%=allbooks[i].id%>--<%=allbooks[i].name%>---<%=allbooks[i].author%></h3></br>
    <form action="/<%= allbooks[i]._id %>?_method=DELETE" method="POST">
        <button class="btn btn-primary btn-sm">Delete</button>
    </form></br></br>
</div>
<%}%>
<% include partials/footer %>





