<% include partials/header %>

<style>
    .moveleft{
        padding-left:20px;
    }
</style>
<div class="moveleft">
    <h3>Customer Name:<%=fcustomer.name  %></h3>
    <h3>Customer Id:<%=fcustomer.id  %></h3></br></br></br>
    <h2>Book's Taken:</h2>
    
    <%if(fcustomer.books.length===0){%>
        <p>No books taken at the moment</p>
    <%}%>
    
    
    <%for(i=0; i<fcustomer.books.length; i++){ %>
        <h5 class="pospa"><%=i+1 %>-<%= fcustomer.books[i].name %></h5>
        <form action="/customers/<%=fcustomer._id%>/<%= fcustomer.books[i]._id %>/checkin" method="post">
        <button class="btn btn-primary btn-sm">CheckIn</button>
        </form>
        
    <%}%>
</div>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Checkout a Book</h1>
        <h4 style="text-align:center">You are allowed to checkout only two books at a time.</h4>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/customers/<%= fcustomer._id %>/checkout" method="Post">
                <div class="form-group">
                    <input class="form-control" type="text" name="id1" placeholder="Enter book id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="id2" placeholder="Enter book Id">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Checkout</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>

